{%extends 'layout.html'%}

{%block title%} Categorías - MiniBlog {%endblock%}

{%block main%}


<br>
<!-- Acordeón Crear Usuario -->
<div class="cointainer text-center">
    <button class="btn btn-success mb-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample">
        Crear categoría
    </button>

    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <form action="/add_category" method="post" class="mb-3 d-flex justify-content-end flex-wrap">
                <label for="name"></label>
                <input class="form-control w-100" type="text" name="name" id="" placeholder="Nombre de la categoría">
                <button type="submit" class="btn btn-primary">Crear Categoría</button>
            </form>

        </div>
    </div>
</div>

<!-- Termina acordeón Creación user -->
<br>
<!-- empieza crud Usuarios -->
<div class="table-responsive container text-center">
    <table class="table table-primary">
        <thead>
            <tr>
                <th scope="col">Categoría </th>
                <th scope="col">Posteos</th>
                <th scope="col">Borrar? </th>
            </tr>
        </thead>
        <tbody>
            {%for category in categories%}
            <tr class="">
                <td scope="row">{{category.name}}</td>
                <td scope="row"><a name="" id="" class="btn btn-primary" href="/filter/category/{{category.id}}/guest"
                        role="button">Ver Posts</a></td>
                <td scope="row"><button type="button" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#Modalborrar{{category.id}}"> Borrar Categoría
                    </button></td>
            </tr>
            <!-- EMPIEZA MODAL BORRAR CATEGORY -->
            <div class="modal fade" id="Modalborrar{{category.id}}" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Borrar categoría '{{category.name}}'</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>¿Estás seguro que quieres la categoría '{{category.name}}'? Se eliminarán los posteos de esta categoría y
                                sus comentarios. Esta acción no se puede deshacer.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <a href="/delete_category/{{category.id}}" class="btn btn-danger">Borrar</a>
                        </div>
                    </div>
                </div>
            </div>

            {%endfor%}
        </tbody>
    </table>
</div>

{%endblock%}